<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1ef5f29e-96c2-4fa6-9bd2-6947e59d2609" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://krccore-int-getemployee.azurewebsites.net" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="1ef5f29e-96c2-4fa6-9bd2-6947e59d2609fileName">https%3A%2F%2Fkrccore-int-getemployee.azurewebsites.net</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://krccore-int-getemployee.azurewebsites.net</con:endpoint>
  </con:endpoints>
</con:interface>
